
@{
    ViewBag.Title = "UserOrder";
    Layout = "~/Areas/Mobile/Views/Shared/_Layout.cshtml";
}
@section header{
    <header class="bar bar-nav">
        <h1 class="title distributor-name" data-val="-1">报损单</h1>
    </header>
}


