@model LayoutViewModel
    @{ 
        Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>@Model.Title</title>
    <link href="~/Areas/Admin/js/admin/layui/css/layui.css" rel="stylesheet" />
    @*<link href="~/Areas/Public/css/layout.css" rel="stylesheet" />*@
    <link href="~/Areas/Admin/css/pages/layout.css" rel="stylesheet" />
</head>
<body>  
    <div class="layui-layout layui-layout-admin">  
        <!-- 头部 -->
        <div class="layui-header">
            <div class="layui-main">
                <!-- logo -->
                <a href="/" style="color: #c2c2c2; font-size: 18px; line-height: 60px;">Xprepay</a>
                <!-- 水平导航 -->
                <ul class="layui-nav" style="position: absolute; top: 0; right: 0; background: none;">
                    @*<li class="layui-nav-item">
                        <a href="javascript:;">
                            进入前台
                        </a>
                    </li>*@
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            @Model.GetSession().User.NickName
                        </a>
                        <dl class="layui-nav-child">
                            @*<dd>
                                <a href="javascript:;">
                                    个人信息
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;">
                                    修改密码
                                </a>
                            </dd>*@
                            <dd>
                                <a id="logout" href="javascript:;">
                                    退出登录
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>

        <!-- 侧边栏 -->
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="left-nav" style="border-radius: 0;">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" data-url="/admin/user/index" data-id="1">
                            用户管理
                        </a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" data-url="/admin/distributor/index" data-id="2">
                            分销店家
                        </a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" data-url="/admin/order/index" data-id="3">
                            订货单
                        </a>
                    </li>
                    <li class="layui-nav-item layui-nav-itemed">
                        <a href="javascript:;" data-url="/admin/Area/index" data-id="4">
                            地区管理
                        </a>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">
                            商品管理
                        </a>
                        <dl class="layui-nav-child">
                            <dd>
                                <a href="javascript:;" data-url="/admin/commodity/index" data-id="5">
                                    商品管理
                                </a>
                            </dd>
                            <dd>
                                <a href="javascript:;" data-url="/admin/Category/index" data-id="6">
                                    商品分类
                                </a>
                            </dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>
        <!-- 主体 -->
        <div class="layui-body">
            <!-- 顶部切换卡 -->
            <div class="layui-tab layui-tab-brief" lay-filter="top-tab" lay-allowClose="true" style="margin: 0;">
                <ul class="layui-tab-title"></ul>
                <div class="layui-tab-content" style="padding: 0;"></div>
            </div>
        </div>

        <!-- 底部 -->
        <div class="layui-footer" style="text-align: center; line-height: 44px;">
            Copyright © 2017 <a href="http://www.shundao.com" target="_blank">Xprepay</a> Powered by shundao.cc
        </div>
    </div>
    <script src="~/Areas/Admin/js/admin/layui/layui.js"></script>
    <script type="text/javascript">
        layui.use(['layer', 'element', 'upload','form'], function () {
            var element = layui.element();
            var layer = layui.layer;
            var $ = layui.jquery;
            var form = layui.form();

            //登出
            $("#logout").click(function () {
                location.href="@Url.Action("logout", "home",new { area="admin"})"
            });
            var navfilter = 'left-nav';
            var nav = $('.layui-nav[lay-filter=' + navfilter + ']').eq(0);

            var tabfilter = 'top-tab';
            var tab = $('.layui-tab[lay-filter=' + tabfilter + ']').eq(0);
            var tabcontent = tab.children('.layui-tab-content').eq(0);
            var tabtitle = tab.children('.layui-tab-title').eq(0);
            /**
             * iframe自适应
             */
            $(window).resize(function () {
                //设置顶部切换卡容器度
                tabcontent.height($(this).height() - 60 - 41 - 44); //头部高度 顶部切换卡高度 底部高度
                //设置顶部切换卡容器内每个iframe高度
                tabcontent.find('iframe').each(function () {
                    $(this).height(tabcontent.height());
                });
            }).resize();

            /**
             * 监听侧边栏导航点击事件
             */
            element.on('nav(' + navfilter + ')', function (elem) {
                var a = elem.children('a');
                var title = a.text();
                var src = elem.children('a').attr('data-url');
                var id = elem.children('a').attr('data-id');
                var iframe = tabcontent.find('iframe[data-id=' + id + ']').eq(0);
                var tabindex = tabtitle.children('li').length;

                if (src != undefined && src != null && id != undefined && id != null) {
                    if (iframe.length) { //存在 iframe
                        //获取iframe身上的tab index
                        tabindex = iframe.attr('data-tabindex');
                    } else { //不存在 iframe
                        //显示加载层
                        layer.load(2);
                        setTimeout(function () {
                            layer.closeAll('loading');
                        }, 300);
                        //拼接iframe
                        var iframe = '<iframe';
                        iframe += ' src="' + src + '" data-id="' + id + '" data-tabindex="' + tabindex + '"';
                        iframe += ' style="width: 100%; height: ' + tabcontent.height() + 'px; border: 0px;"';
                        iframe += '></iframe>';
                        //顶部切换卡新增一个卡片
                        element.tabAdd(tabfilter, { title: title, content: iframe });
                    }

                    //切换到指定索引的卡片
                    element.tabChange(tabfilter, tabindex);
                }
            });

            /**
             * 初始化点击侧边栏第一个导航
             */
            nav.find('li').eq(0).click();

            
        });
        
    </script>
</body>

</html>
