.xprepay-content{
    padding:10px;
}
.model_alert h1{
    font-size:14px;
    padding:10px 0 10px 10px;
}
.from_body {
    margin-left: 10px;
    margin-right: 10px;
}
.input_container {
    margin:10px;
}